@import '../../common/colors.scss';

.movie-section {
  display: flex;
  justify-content: space-evenly;
  padding: 3rem 0;
  color: $font-primary;
}

.movie-rating {
  padding-left: 0.3rem;
  margin-top: 1.2rem;
  color: $font-secondary;
  display: flex;

  span {
    margin-right: 1rem;
  }

  .movie-icon {
    margin-right: 0.5rem;
  }
}

.movie-title {
  font-size: 2rem;
  color: $font-primary;
}

.movie-plot {
  margin-top: 1rem;
  line-height: 2;
}

.movie-info > div span:first-child {
  padding: 1rem 0;
  color: $font-primary;
  font-weight: 600;
  width: 10rem;
  display: inline-block;
}

.movie-info > div span {
  color: $font-secondary;
  font-weight: 500;
}

.section-right {
  margin-left: 1.8rem;
}
