@import '../../common/colors.scss';

.movie-list {
  margin: 1rem 0;
  h2 {
    color: $font-secondary;
    margin-bottom: 0.5rem;
    font-weight: 500;
  }
}

.movie-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: 2rem;
}
