@import '../../common/colors.scss';

header {
  background-color: $secondary-color;
  height: 10vh;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: $font-primary;
  font-size: 1.2rem;
  font-weight: 600;
}

.user-image,
.user-image img {
  width: 3rem;
  height: 3rem;
}
